name: Security - OWASP Pentest

on:
  schedule:
    - cron: '0 2 * * *' # Scan quotidien à 2h du matin
  workflow_dispatch: # Permet de le lancer manuellement

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan OWASP ZAP
    steps:
      - name: Lancement Scan ZAP (Baseline)
        # Utilise l'action officielle OWASP ZAP
        uses: zaproxy/action-baseline@v0.12.0
        with:
          # Remplace par l'URL de ton API ou Front en prod/staging
          target: 'https://weave-be-server.azurewebsites.net/' 
          # Fait échouer le job si des alertes "High" ou "Medium" sont trouvées
          fail_action: true 
          allow_issue_writing: false
